<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!-- Javascript reads this and uses it to build the file -->

    <h2>IceCream Flavor for {IceCream: 'vanilla'}       :                <%= iceCream %>              </h2>

    <h2>In mustache we would see Ice Cream Flavor from {iceCream : 'vanilla'} :     {{iceCream}}              </h2>

    <h2>Ice Cream Flavor from {iceCream : 'vanilla'} :        <%= cookie %>                                     </h2>


    <h2>I do  exist                                                            <%= candyCane %>                    </h2>














  </body>
</html>