section:nth-child(1){
  height: 75px;
}
section:nth-child(2){
  height: 150px;
}
section:nth-child(3), section:nth-child(4){
  height: 125px;
}
/* in float based layout how should we squarify them? */
/* so we could do 50% and then how do make them live next to one another use float */
section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
  height: 250px;
  width: 50%;
  float: left;
}
section:nth-child(9){
  height: 80px;
}

@media(min-width: 768px){

  body{
    width: 960px;
    /* how do I center the entire web page */
    margin: 0 auto;
  }

/* which will make it larger when it expands */

section:nth-child(1){
  height: 100px;
}
section:nth-child(2){
  float: left;
  height: 600px;
  width: 200px;
}
section:nth-child(3) section:nth-child(4){
  
  height: 200px;
  width: 380px;
}
/* in float based layout how should we squarify them? */
/* so we could do 50% and then how do make them live next to one another use float */
section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
  width: 190px;
}
section:nth-child(9){
  height: 100px;
  width: 760px;
}
} /** close the media query */