* {
    margin: 0;  
  }
  
  div {
    border: 1px solid;
    /* background-color: darkgrey; */
  }
 
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    /* background-color: lightblue; */
    opacity: 0.5;
    height: 150px;
  }
  
  .left-menu, .main-content, .right-pane {
    height: 1000px; 
  }
   
  
  
  
  .left-menu{
    float: left;
    background-color: rgb(0, 100, 139);
    width: 150px;
  }
  
  .right-pane{
    float: right;
    background-color: pink;
    width: 150px;
  } 



  .main-content {
    margin-top: 150px; /*connects to the nav 150px.*/
    background-color: lightgreen;
  }