<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
   </head>
   <body>
      <h1>Welcome to the search page.</h1>
      <header>
         <nav>
            <ul>
               <li><a href="/">Go to New Search</a></li>
            </ul>
         </nav>
      </header>
      <main>
         <ul>
            <% for(let i = 0; i < books.length; i++) {%>
            <li>
               <h2>  <%=    books[i].title    %> By <%=    books[i].author   %>  </h2>
               <p> This is the book description </p>
               <img src="<%= books[i].url %>" />
            </li>
            <% } %>
         </ul>
      </main>
   </body>
</html>