<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Welcome to the search page.</h1>
  <header>
    <nav>
      <ul>
        <li><a href="/">Go to New Search</a></li>
      </ul>
    </nav>
  </header>
  
<main>
  <form action="/searches" method="POST">
    <fieldset>
      <legend>Book Search </legend>
<!-- Create these radio buttons under the same "name" this will allow us to choose between  -->
      Title: <input type="radio" name="searchType" value="title"/>
      Author: <input type="radio" name="searchType" value="author"/>

      <input type="text" name="searchQuery" />
      <input type="submit"  value="search"/>



    </fieldset>


  </form>

</main>

</body>
</html>