<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
   </head>
   <body>
      <h1>Welcome to the Search Page.</h1>
      <header>
         <nav>
            <ul>
               <li>
                  <a href="/">Go Back Home for a New Search.</a>
               </li>
            </ul>
         </nav>
      </header>
      <main>
         <ul>
            <% for(let i = 0; i < books.length; i++){ %>
            <li>
               <h2><%= books[i].title  %> by <%= books[i].author %></h2>
               <p>A book about spice.</p>
               <img src="<%= books[i].url %>"/>
            </li>
            <% } %>


            <!-- <li>
              <h2>Dune by Frank Herbert</h2>
              <p>A book about spice.</p>
          
           </li> -->
         </ul>
      </main>
   </body>
</html>