body{
  font-size: 30px;
}

main{
   margin-top: 200px;
}

#one {
  font-family: Helvetica, sans-serif;
  color: rgb(31, 187, 253);
  background: rgb(145, 79, 158);
}

#two {
  font-family: Helvetica, sans-serif;
  color: rgb(91, 248, 253);
  background: rgb(173, 173, 245);
}

#one a {
  text-transform: uppercase;
  color: rgb(0, 255, 242);
}

#two a {
  text-transform: uppercase;
  color: rgb(0, 255, 42);
}
