body{
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(128, 128, 128, 0.247);
}
marquee {
  font-size: 30px;
  background-color: red;
  color:rgb(251, 255, 0);
  font-family: Tahoma, sans-serif;
}
/* * {
  outline: dashed;
}
*/
header {
  background-color: rgb(255, 192, 203);
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  text-shadow: 2px 2px 1px rgb(250, 7, 48);
}
nav {
 /* css rules here */
 /* then add the comment */
  background-color: rgb(175, 86, 13);
}
nav ul {
 /* margin: 0px;
  padding: 0px;
 */
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin: 20px;
  font-size: 24px;
}
nav a {
  color: rgba(255, 255, 255);
  text-decoration: none;
  text-shadow: none;
}
main {
  width:90%;
  margin: 0 auto;
}
p {
  font-family: 'Courier New', Courier, monospace;
  background-color:aliceblue;
  width: 30%;
  float: left;
  margin: 5px;
}
.highLightClass {
  background-color: yellow;
}
h1, h2 {
  font-family: Helvetica, sans-serif;
}
h2 {
  color: purple;
}
li {
  list-style-type: none;
}
footer {
  text-align: center;
  background-color: #8d8a8ac4;
  clear: both;
}
section {
 /* margin: */
 /* padding: top , right, bottom, left, color or transparency */
 /* border: 3px solid green;
  */
}
img {
  float: left;
  height: 175px;
  width: 175px;
  padding: 10px;
 /* margin: 100px, 300px, 20px, 200px;
  */
}
article {
  clear: both;
}
/* unvisited link */
a:link {
  color: rgba(255, 255, 255);
}
/* visited link */
a:visited {
  color: rgb(16, 238, 16);
}
/* mouse over link */
a:hover {
  color: rgb(248, 12, 130);
}
/* selected link */
a:active {
  color: blue;
}
